.App-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background-color: #282c34;
}

.header-button {
  float: right;
  padding: 10px 20px;
  background-color: #61dafb;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: auto;
}
